* {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
}
body > h1 {
  border-bottom: 1px solid #111;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

#react-root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  padding: 10px;
  max-width: 900px;
  width: 90%;
  margin: 10px auto;
  background: #fff;
  min-height: 400px;
}

/*
colours from https://clrs.cc/
*/

:root {
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --maroon: #85144b;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --black: #111111;
  --gray: #aaaaaa;
  --silver: #dddddd;
  --white: #fff;
}

.journal-header-wrapper {
  position: relative;
  border-bottom: 1px solid var(--blue);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.journal-header {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  color: var(--navy);
  margin: 5px 0 0px 0;
  padding: 0;
}

.journal-login {
  position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  width: 150px;
  background: #fff;
  padding: 10px;
  background: var(--aqua);
  cursor: pointer;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.68);
}
.journal-login:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.68);
}

.journal-login-modal span {
  font-size: 12px;
  display: block;
  text-align: right;
}

.journal-login-modal span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.journal-subheader {
  color: var(--navy);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#react-root ul {
  margin: 10px 0;
  padding: 0;
}

.journal-login-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.journal-login-modal-contents {
  z-index: 10;
  position: fixed;
  top: 50px;
  left: 50%;
  max-width: 100%;
  width: 400px;
  height: 300px;
  transform: translate(-50%, 0);
  border-radius: 10px;

  padding: 20px;
  background: var(--white);
}

.journal-login-modal-contents input {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
}

.journal-login-modal-contents input[type='submit'] {
  padding: 15px;
  background: var(--teal);
  cursor: pointer;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.68);
}

.journal-login-modal-contents input[type='submit']:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.68);
}

.active-link {
  color: red;
  font-weight: bold;
}

.post-wrapper {
  border-bottom: 1px solid var(--navy);
  padding: 10px;
}

.post-wrapper > a {
  display: block;
}

.post-active {
  background: #ddd;
  margin: 10px 0;
}

.post-active > a {
  font-size: 30px;
}

.toggle {
  display: block;
  border: 1px solid #111;
}

.post-wrapper .post-contents {
  font-style: italic;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.post {
  padding: 10px;
  background: var(--teal);
  margin-bottom: 15px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.68);

  cursor: pointer;
}

.post:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.68);
}

.post a {
  display: block;
  font-weight: bold;
}

.post a:link,
.post a:visited {
  color: #111;
}

.journal-app ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
